.card {
    height: 100%;
    width: 100%;
}

.selectors {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.selectors Button {
    flex-grow: 1;
    margin: 2px;
}

H3 {
    font-size: 17px;
}