.light-toggle {
    background: #EFF4F5;
    color: #715B2F;
    border: 0;
    border-radius: 4px;
}

.dark-toggle {
    background: #353547;
    color: #D9B35F;
    border: 0;
    border-radius: 4px;
}

.light-menu {
    background: #D9B35F;
}

.dark-menu {
    background: #715B2F;
}

.dark-menu > * {
    color: black;
}

.light-menu > * {
    color: white;
}

.dropdown-item {
    display: flex;
    align-items: center;
}

.dropdown-img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
