.spinner-content {
  padding: 4px;
  height: 100px;
  width: 100px;
  background: transparent;
}

video::-internal-media-controls-overlay-cast-button {
  display: none;
}

video::-internal-media-controls-overlay-cast-button {
  display: none;
}
