.light-toggle {
    background: white;
    color: #D9B35F;
    border: 0;
    border-radius: 4px;
}

.dark-toggle {
    background: black;
    color: #D9B35F;
    border: 0;
    border-radius: 4px;
}

.light-menu {
    background: #D9B35F;
}

.dark-menu {
    background: #715B2F;
}

.dark-menu > * {
    color: black;
}
